#root {
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.skeleton-table td,
.skeleton-table th {
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 4px;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
